html, body{
    height: 100%;
}
body{
    background-image: url("lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Catamaran', sans-serif;
}

.outBox{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerbox {
    width: 75%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
h1{
    margin-bottom: auto;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
}
.styling{
    font-family: 'Pacifico', cursive;
    margin-right: 5px;
    color: #ffcba4;
}

.inputDiv{
    margin: 20px;
    position: relative;
    text-align: center;
}
.inputDiv .input{
    padding: 0.5rem 1rem;
    height: 15px;
    outline: none;
    border: none;
    background-color: #ffffff;
    width: 60%;
    font-size: 15px;
    margin: 0.25rem;
    border-radius: 25px;
}
.addButton{
    height: 30px;
    width: 75px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: #FFFFFF;
    margin: 0.25rem;
    background-color: #4C4CFF;
    cursor: pointer;
}
.addButton hover{
    opacity: 0.7;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .itemInput{
    outline: none;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    width: 40%;
}

.checkButton{
    font-size: 20px;
    background: none;
    outline: none;
    border: none;
    color: #32CD32;
    cursor: pointer;
    text-decoration: line-through;
}
.editButton{
    font-size: 20px;
    background: none;
    outline: none;
    border: none;
    color: #ffae42;
    cursor: pointer;
}
.deleteButton{
    font-size: 20px;
    background: none;
    outline: none;
    border: none;
    color: #d11a2a;
    cursor: pointer;
}
